.output-area {
    /* position: relative; */
    display: block;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #333;
    background: rgba(255, 255, 255, 0.3);
    padding: 15px 20px 18px 18px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px #333;
  }

.result {
    margin: 0px
  }

.empty-result{
    margin: 0px;
    visibility: hidden;
  }

.empty-cell{
  visibility: hidden;
  width: 10px;
}

table {
  border-spacing: 0px;
}

th {
  border: 1px solid black;
  padding: 3px;
  text-align: center;
}

td {
  border: 1px solid black;
  padding: 3px;
}

.data-column {
  text-align: center;
  width: 25px;
}